<!DOCTYPE HTML>
<html lang="en-US" class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Real Spaces &#8211; Wordpress Real Estate Theme</title>
<meta charset="UTF-8" />
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="wp-content/themes/real-spaces/images/favicon.ico" />
<!-- CSS
  ================================================== -->
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="wp-content/themes/real-spaces/css/ie8.css" media="screen" /><![endif]-->
<!-- Color Style -->
<!-- SCRIPTS
  ================================================== -->
<link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Feed" href="feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Comments Feed" href="comments/feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Home Version 1 Comments Feed" href="version-1/feed/index.html" />
<link rel='stylesheet' id='dsidxpress-unconditional-css'  href='wp-content/plugins/dsidxpress/css/client-ver=4.0.1.css' type='text/css' media='all' />
<link rel='stylesheet' id='dsidxwidgets-unconditional-css'  href='wp-content/plugins/dsidxpress/dsidxwidgets/css/client-ver=4.0.1.css' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='wp-content/themes/real-spaces/revslider/rs-plugin/css/settings-rev=4.6.0&ver=4.0.1.css' type='text/css' media='all' />
<style type='text/css'>
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
</style>
<link rel='stylesheet' id='imic_bootstrap-css'  href='wp-content/themes/real-spaces/css/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='imic_main-css'  href='wp-content/themes/real-spaces/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='imic_prettyPhoto-css'  href='wp-content/themes/real-spaces/plugins/prettyphoto/css/prettyPhoto.css' type='text/css' media='all' />
<link rel='stylesheet' id='imic_owl_carousel-css'  href='wp-content/themes/real-spaces/plugins/owl-carousel/css/owl.carousel.css' type='text/css' media='all' />
<link rel='stylesheet' id='imic_owl_theme-css'  href='wp-content/themes/real-spaces/plugins/owl-carousel/css/owl.theme.css' type='text/css' media='all' />
<script type='text/javascript' src='wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ajax_login_object = {"ajaxurl":"http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-admin\/admin-ajax.php","loadingmessage":"Sending user info, please wait..."};
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/themes/real-spaces/js/ajax-login-script.js?ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/revslider/rs-plugin/js/jquery.themepunch.tools.min.js?rev=4.6.0&ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.6.0&ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/js/modernizr.js?ver=4.0.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc-rsd.php.html" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.0.1" />
<link rel='canonical' href='index.html' />
<link rel='shortlink' href='index.html' />
<style type="text/css">
.text-primary, .btn-primary .badge, .btn-link,a.list-group-item.active > .badge,.nav-pills > .active > a > .badge, p.drop-caps:first-child:first-letter, .accent-color, .post-more, ul.nav-list-primary > li a:hover, .widget_recent_comments a, .navigation > ul > li:hover > a, .flex-caption .hero-agent-contact, .property-info h4 a, .agent-info h4 a, .features-list li .icon, .property-listing h3 a, .agents-listing h3 a, .nav-tabs li.active > i, .nav-tabs li:hover > i, .location > i, .contact-info-blocks > div > i, .additional-amenities > span.available i, .error-404 h2 > i, .properties-table .action-button i, .pricing-column h3 {
	color:#f55a4e;
}
a:hover, .testimonials > li cite a:hover, .property-listing h3 a:hover, .agents-listing h3 a:hover, .property-info h4 a:hover, .agent-info h4 a:hover{
	color:#f55a4e;
}
.featured-gallery p, .post-more:hover, .widget_recent_comments a:hover, .property-info h4 a:hover{
	opacity:.9
}
p.drop-caps.secondary:first-child:first-letter, .accent-bg, .fa.accent-color, .btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.label-primary,
.progress-bar,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary > .panel-heading, .carousel-indicators .active, .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span, hr.sm, .flex-control-nav a:hover, .flex-control-nav a.flex-active, .accordion-heading .accordion-toggle.active, .accordion-heading:hover .accordion-toggle, .accordion-heading:hover .accordion-toggle.inactive, .nav-tabs li a:hover, .nav-tabs li a:active, .nav-tabs li.active a, .fc-event, .site-header .social-icons a, .navigation > ul > li > ul > li:hover > a, .navigation > ul > li > ul > li > ul > li:hover a, .top-header, .block-heading h4, .single-property .price, .timeline > li > .timeline-badge, .pricing-column.highlight h3, .site-footer-bottom .social-icons a:hover, .dsidx-results li.dsidx-prop-summary .dsidx-prop-title , .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-data .dsidx-primary-data .dsidx-price, #dsidx-top-search #dsidx-search-form-wrap, .sidebar .widget .dsidx-expanded .featured-listing h4, .sidebar .widget .dsidx-expanded .featured-listing .property-item h4 a, .property-item h4 .sidebar .widget .dsidx-expanded .featured-listing a, .sidebar .widget .dsidx-slideshow .featured-listing h4, .sidebar .widget .dsidx-slideshow .featured-listing .property-item h4 a, .property-item h4 .sidebar .widget .dsidx-slideshow .featured-listing a, #dsidx-listings .dsidx-primary-data, .sidebar .widget .dsidx-search-widget .dsidx-search-button .submit, .dsidx-contact-form-submit{
  background-color: #f55a4e;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary, .next-prev-nav a:hover, .staff-item .social-icons a:hover, .site-header .social-icons a:hover{
  background: #f55a4e;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary,
.panel-primary > .panel-heading, .fc-event{
	border-color:#f55a4e;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body, .navigation ul > li:hover > a, .navigation ul > li.current_menu_item > a{
	border-top-color:#f55a4e;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body, .widget .widgettitle{
	border-bottom-color:#f55a4e;
}
blockquote{
	border-left-color:#f55a4e;
}
/* Color Scheme Specific Classes */
/*========== User Custom CSS Styles ==========*/
                        #header{
margin: 0 auto;
}
.site-header h1.logo{padding-top:30px;}
.site-search-module .bootstrap-select.form-control{margin-bottom:40px!important;}
.site-search-module .search-fields .search-field:nth-child(4n+4){margin-right:3%;}                    </style>
<link class="alt" href="wp-content/themes/real-spaces/colors/color1.css" rel="stylesheet" type="text/css">
<link href="wp-content/themes/real-spaces/style-switcher/css/style-switcher.css" rel="stylesheet" type="text/css">
</head>
<body class="home page page-id-223 page-template page-template-template-home-php ">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
  <!-- Start Site Header -->
  <header class="site-header" >
          <div class="top-header hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
          	            <ul class="horiz-nav pull-left">
              <li class="dropdown">
                    <a href="register-as-agent/index.html">
			                	<i class="fa fa-user"></i> Login </a>					<ul class="dropdown-menu">
                  <li><a href="favorite-properties/index.html" title="Favorite Properties">Favorite Properties</a></li><li><a href="favorite-search/index.html" title="Saved Searches">Saved Searches</a></li><li class="register"><a href="agent-profile/index.html" title="My Profile">My Profile</a></li>                  <li class="login"><a href="wp-login-action=logout&redirect_to=http___preview.imithemes.com_real-spaces-wp&_wpnonce=8feadee43f.php.html" title="Logout">Logout</a></li>
                </ul>
					              </li>
              </ul>
                        </div>
          <div class="col-md-8 col-sm-6">
            <ul class="horiz-nav pull-right">
            	<li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="https://instagram.com/accounts/login/" target="_blank"><i class="fa fa-instagram"></i></a></li><li><a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>            </ul>
            
          </div>
        </div>
      </div>
    </div>
      
    <div class="middle-header">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-8 col-xs-8">
            <h1 class="logo"> 
            	<a href="index.html" title="Real Spaces - Wordpress Real Estate Theme"><img src="http://wp.imicreationlive.com/real-spaces/wp-content/themes/real-spaces/images/logo.png" alt="Logo"></a>            </h1>
          </div>
          <div class="col-md-8 col-sm-4 col-xs-4">
              <div class="contact-info-blocks hidden-sm hidden-xs">
                <div>
							<i class="fa fa-phone"></i> Free Line For You
							<span>08037867890</span>
						  </div><div>
							<i class="fa fa-envelope"></i> Email Us
							<span>sales@realspaces.com</span>
						  </div><div>
							<i class="fa fa-clock-o"></i> Working Hours
							<span>09:00 to 17:00</span>
						  </div>             </div>
              <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
    </div>
        <div class="main-menu-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navigation">
              <ul id="menu-main-menu" class="sf-menu"><li id="menu-item-208" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-208"><a>Home</a>
<ul class="sub-menu">
	<li id="menu-item-232" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-223 current_page_item menu-item-232"><a href="index.html">Home Version 1</a></li>
	<li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-255"><a href="version-2/index.html">Home Version 2</a></li>
	<li id="menu-item-602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-602"><a href="rev-slider-home/index.html">Rev Slider Home <span class="label label-default">New</span></a></li>
</ul>
</li>
<li id="menu-item-209" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-209"><a>Pages</a>
<ul class="sub-menu">
	<li id="menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-236"><a href="about-us/index.html">About Us</a></li>
	<li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238"><a href="agents/index.html">Agents</a></li>
	<li id="menu-item-210" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210"><a href="author/mia-kennedy/index.html">Agent Single</a></li>
	<li id="menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="agent-properties/index.html">Agent Properties</a></li>
	<li id="menu-item-249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a href="register-as-agent/index.html">Register as Agent</a></li>
	<li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="list-a-property/index.html">List a Property</a></li>
	<li id="menu-item-599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-599"><a href="pricing-plans/index.html">Pricing Plans</a></li>
	<li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"><a href="register-as-agent/index.html">Login/Register</a></li>
	<li id="menu-item-211" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-211"><a href="index-author=677.html">404</a></li>
</ul>
</li>
<li id="menu-item-283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-283"><a>dsIDXPress</a>
<ul class="sub-menu">
	<li id="menu-item-284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="dsidxpress-listing/index.html">dsIDXPress Listing</a></li>
	<li id="menu-item-285" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-285"><a href="idx/mls-20649490-82_sunny_st_mission_viejo_ca_92692/index.html">Single Property</a></li>
</ul>
</li>
<li id="menu-item-212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-212"><a>Properties</a>
<ul class="sub-menu">
	<li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406"><a href="compare-properties/index.html">Compare Properties</a></li>
	<li id="menu-item-213" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-213"><a href="http://s">Listing</a>
	<ul class="sub-menu">
		<li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="simple-listing/index.html">Simple Listing</a></li>
		<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a href="simple-listing-with-map/index.html">Simple Listing with Map</a></li>
		<li id="menu-item-242" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242"><a href="full-width-listing/index.html">Full Width Listing</a></li>
		<li id="menu-item-243" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-243"><a href="grid-listing/index.html">Grid Listing</a></li>
		<li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-244"><a href="grid-listing-with-map/index.html">Grid Listing with map</a></li>
		<li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-241"><a href="full-width-grid/index.html">Full Width Grid</a></li>
	</ul>
</li>
	<li id="menu-item-214" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-214"><a href="http://s">Types</a>
	<ul class="sub-menu">
		<li id="menu-item-215" class="menu-item menu-item-type-taxonomy menu-item-object-property-type menu-item-215"><a href="index-property-type=villa.html">Villa</a></li>
		<li id="menu-item-216" class="menu-item menu-item-type-taxonomy menu-item-object-property-type menu-item-216"><a href="index-property-type=single-home.html">Single Home</a></li>
		<li id="menu-item-217" class="menu-item menu-item-type-taxonomy menu-item-object-property-type menu-item-217"><a href="index-property-type=cottage.html">Cottage</a></li>
		<li id="menu-item-218" class="menu-item menu-item-type-taxonomy menu-item-object-property-type menu-item-218"><a href="index-property-type=family-house.html">Family House</a></li>
		<li id="menu-item-219" class="menu-item menu-item-type-taxonomy menu-item-object-property-type menu-item-219"><a href="index-property-type=apartment.html">Apartment</a></li>
	</ul>
</li>
	<li id="menu-item-220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-220"><a href="http://s">Contract Type</a>
	<ul class="sub-menu">
		<li id="menu-item-221" class="menu-item menu-item-type-taxonomy menu-item-object-property-contract-type menu-item-221"><a href="index-property-contract-type=rent.html">Rent</a></li>
		<li id="menu-item-224" class="menu-item menu-item-type-taxonomy menu-item-object-property-contract-type menu-item-224"><a href="index-property-contract-type=sale.html">Sale</a></li>
	</ul>
</li>
	<li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-property menu-item-257"><a href="index-property=116-waverly-place.html">Single Property</a></li>
	<li id="menu-item-258" class="menu-item menu-item-type-post_type menu-item-object-property menu-item-258"><a href="index-property=228-park-ave-s.html">Single Property Full Width</a></li>
</ul>
</li>
<li id="menu-item-225" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-225"><a>Features</a>
<ul class="sub-menu">
	<li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="shortcodes/index.html">Shortcodes</a></li>
	<li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-254"><a href="typography/index.html">Typography</a></li>
</ul>
</li>
<li id="menu-item-226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-226"><a>Gallery</a>
<ul class="sub-menu">
	<li id="menu-item-233" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-233"><a href="2-columns/index.html">Gallery 2 Columns</a></li>
	<li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234"><a href="3-columns/index.html">Gallery 3 Columns</a></li>
	<li id="menu-item-235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-235"><a href="4-columns/index.html">Gallery 4 Columns</a></li>
	<li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247"><a href="masonry-grid/index.html">Gallery Masonry Grid</a></li>
</ul>
</li>
<li id="menu-item-227" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-227"><a>Blog</a>
<ul class="sub-menu">
	<li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a href="masonry/index.html">Blog Masonry</a></li>
	<li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253"><a href="timeline/index.html">Blog Timeline</a></li>
	<li id="menu-item-239" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-239"><a href="classic/index.html">Blog Classic</a></li>
	<li id="menu-item-259" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-259"><a href="blog-post-with-featured-image-3/index.html">Single Post</a></li>
</ul>
</li>
<li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-240"><a href="contact/index.html">Contact</a></li>
<li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="list-a-property/index.html">List a Property</a></li>
</ul>	            </nav>
          </div>
        </div>
      </div>
    </div>
    </header>
  <!-- End Site Header --><!-- Site Showcase -->
<div class="site-showcase">
    <div class="slider-mask overlay-transparent"></div>
    <!-- Start Hero Slider -->
    <div class="hero-slider flexslider clearfix" data-autoplay=yes data-pagination="no" data-arrows=yes data-style=fade data-pause="yes"><ul class="slides"><li class=" parallax" style="background-image:url(http://preview.imithemes.com/real-spaces-wp/assets/slide1-1200x500.jpg)"><div class="flex-caption"><strong class="title">116 Waverly Place, <em>California</em></strong><div class="price"><strong>&#36;</strong><span>10000</span></div><a href="index-property=116-waverly-place.html" class="btn btn-primary btn-block">Details</a><div class="hero-agent"><img src="assets/agent1.jpg" alt="" class="hero-agent-pic"/><a href="author/emma-dumas/index.html" class="hero-agent-contact" data-placement="left"  data-toggle="tooltip" title="" data-original-title="Contact Agent"><i class="fa fa-envelope"></i></a></div></div></li><li class=" parallax" style="background-image:url(http://preview.imithemes.com/real-spaces-wp/assets/slide22-1200x500.jpg)"><div class="flex-caption"><strong class="title">11 Times Square, <em>Arkansas</em></strong><div class="price"><strong>&#36;</strong><span>40000</span></div><a href="index-property=11-times-square.html" class="btn btn-primary btn-block">Details</a><div class="hero-agent"><img src="wp-content/uploads/2015/01/agent41.jpg" alt="" class="hero-agent-pic"/><a href="author/mia-kennedy/index.html" class="hero-agent-contact" data-placement="left"  data-toggle="tooltip" title="" data-original-title="Contact Agent"><i class="fa fa-envelope"></i></a></div></div></li></ul></div>  
    <!-- Site Search Module -->
        <div class="site-search-module">
        <div class="container">
            <div class="site-search-module-inside">
                <form method="get" action="http://preview.imithemes.com/real-spaces-wp/">
                    <input type="hidden" class="form-control" name="s" id="s" value="Search1" />
                    <div class="row">
                    
                            <div class="col-md-8 search-fields"><div class="search_by">
                            <div class="search-field">
                                <label>Search By</label>
                                <select name="search_by" class="form-control selectpicker"><option selected>Search By</option><option value='Id'>Id</option><option value='Address'>Address</option><option value='Pincode'>Pincode</option></select>
                            </div>
                            <div class="search-field"><label>Keyword</label>
                             	<input type="text" name="search_by_keyword" class="form-control input-lg search_by_keyword" placeholder="Please enter ">
                            </div>
                            </div><div class="search-field"><label>Location</label><select name="propery_location" class="form-control selectpicker">
                          <option selected>Location</option><optgroup label="United Arab Emirates"><option value='Dubai'>Dubai</option><option value='Abu Dhabi'>Abu Dhabi</option><option value='Sharjah'>Sharjah</option><option value='Umm Al Quwain'>Umm Al Quwain</option><option value='Fujairah'>Fujairah</option><option value='Ajman'>Ajman</option><option value='Ras Al Khaimah'>Ras Al Khaimah</option><optgroup label="United States"><option value='California'>California</option><option value='Texas'>Texas</option><option value='New York'>New York</option><option value='Florida'>Florida</option><option value='Illinois'>Illinois</option><option value='Ohio'>Ohio</option><option value='Pennsylvania'>Pennsylvania</option><option value='Massachusetts'>Massachusetts</option><option value='New Jersey'>New Jersey</option><option value='Arizona'>Arizona</option><option value='Michigan'>Michigan</option><option value='Washington'>Washington</option><option value='North Carolina'>North Carolina</option><option value='Virginia'>Virginia</option><option value='Maryland'>Maryland</option><option value='Georgia'>Georgia</option><option value='Minnesota'>Minnesota</option><option value='Indiana'>Indiana</option><option value='Colorado'>Colorado</option><option value='Missouri'>Missouri</option><option value='Wisconsin'>Wisconsin</option><option value='Tennessee'>Tennessee</option><option value='Alabama'>Alabama</option><option value='Oregon'>Oregon</option><option value='Connecticut'>Connecticut</option><option value='Oklahoma'>Oklahoma</option><option value='Louisiana'>Louisiana</option><option value='Utah'>Utah</option><option value='Nevada'>Nevada</option><option value='Kentucky'>Kentucky</option><option value='Iowa'>Iowa</option><option value='Kansas'>Kansas</option><option value='South Carolina'>South Carolina</option><option value='Arkansas'>Arkansas</option><option value='Mississippi'>Mississippi</option><option value='New Mexico'>New Mexico</option><option value='Nebraska'>Nebraska</option><option value='New Hampshire'>New Hampshire</option><option value='Maine'>Maine</option><option value='Rhode Island'>Rhode Island</option><option value='Hawaii'>Hawaii</option><option value='Idaho'>Idaho</option><option value='West Virginia'>West Virginia</option><option value='Montana'>Montana</option><option value='Alaska'>Alaska</option><option value='District of Columbia'>District of Columbia</option><option value='South Dakota'>South Dakota</option><option value='North Dakota'>North Dakota</option><option value='Wyoming'>Wyoming</option><option value='Delaware'>Delaware</option><option value='Vermont'>Vermont</option></select></div><div class="search-field"><label>City</label><select name="property_city" class="form-control selectpicker">
                    <option selected>City</option><option value='waverly'>Waverly</option></select></div><div class="search-field"><label>Property Type</label><select name="propery_type" class="form-control selectpicker"><option selected>Type</option><option value='apartment'>Apartment</option><option value='family-house'>Family House</option><option value='cottage'>Cottage</option><option value='single-home'>Single Home</option><option value='villa'>Villa</option></select></div><div class="search-field"><label>Contract Type</label><select name="propery_contract_type" class="form-control selectpicker"><option selected>Contract</option><option value='sale'>Sale</option><option value='rent'>Rent</option></select></div><div class="search-field"><label>Min Price</label>
                                <select name="min_price" class="form-control selectpicker"><option selected>Any</option><option value='1000'>&#36; 1000</option><option value='5000'>&#36; 5000</option><option value='10000'>&#36; 10000</option><option value='50000'>&#36; 50000</option><option value='100000'>&#36; 100000</option><option value='3000000'>&#36; 3000000</option><option value='5000000'>&#36; 5000000</option><option value='10000000'>&#36; 10000000</option></select></div><div class="search-field">
                            <label>Max Price</label>
                            <select name="max_price" class="form-control selectpicker"><option selected>Any</option><option value='1000'>&#36; 1000</option><option value='5000'>&#36; 5000</option><option value='10000'>&#36; 10000</option><option value='50000'>&#36; 50000</option><option value='100000'>&#36; 100000</option><option value='3000000'>&#36; 3000000</option><option value='5000000'>&#36; 5000000</option><option value='10000000'>&#36; 10000000</option></select>
                            </div><div class="search-field">
                                <label>Min Area (Sq Ft)</label>
                                <input type="text" name="min_area" class="form-control input-lg" placeholder="Any">
                            </div>
                            <div class="search-field">
                                <label>Max Area (Sq Ft)</label>
                                <input type="text" name="max_area" class="form-control input-lg" placeholder="Any">
                            </div><div class="search-field"><label>Min Beds</label>
                                <select name="beds" class="form-control selectpicker"><option selected>Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option></select></div><div class="search-field"><label>Min Baths</label>
                              <select name="baths" class="form-control selectpicker"><option selected>Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option></select></div></div><div class="col-md-4 search-buttons"><div class="search-button"> <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-search"></i> Search </button> </div><div class="search-button"> <a href="#" id="ads-trigger" class="btn btn-default btn-block"><i class="fa fa-plus"></i> <span>Advanced</span></a> </div></div>                             </div>
                </form>
            </div>
        </div>
    </div>
    
         
        </div>
    <!-- End Showcase --> 
    <!-- Start Content -->
            <div class="main" role="main">
    <div id="content" class="content full"><div class="featured-blocks"><div class="container"><div class="row"><div class="col-md-4 col-sm-4 featured-block"><img alt="featured block" src="assets/search-anywhere.jpg" class="img-thumbnail"><h3>Search From Anywhere</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</div><div class="col-md-4 col-sm-4 featured-block"><img alt="featured block" src="assets/friendly-agents.jpg" class="img-thumbnail"><h3>Friendly Agents</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</div><div class="col-md-4 col-sm-4 featured-block"><img alt="featured block" src="assets/buy-or-rent.jpg" class="img-thumbnail"><h3>Buy or Rent</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</div></div></div></div><div class="spacer-40"></div><div class="container">
                        <div class="row">
                        <div class="property-columns" id="latest-properties"><div class="col-md-12"><div class="block-heading"><h4><span class="heading-icon"><i class="fa fa-leaf"></i></span>Recent Listed</h4> </div></div><ul> <li class="col-md-4 col-sm-6 type-rent"><div class="property-block"><a href="index-property=116-waverly-place.html" class="property-featured-image"><img src="assets/slide1-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="slide1" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Sale</span></a><div class="property-info"><h4><a href="index-property=116-waverly-place.html">116 Waverly Place</a><span class="pid"> (rs-1707)</span></h4></h4><a class="accent-color" data-original-title="Waverly" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">California</span></a><br><div class="price"><strong>&#36;</strong><span>10000</span></div></div><div class="property-amenities clearfix"><span class="area">5000<strong></strong>Area</span><span class="baths"><strong>3</strong>Baths</span><span class="beds"><strong>4</strong>Beds</span><span class="parking"><strong>2</strong>Parking</span></div></div></li> <li class="col-md-4 col-sm-6 type-rent"><div class="property-block"><a href="index-property=228-park-ave-s.html" class="property-featured-image"><img src="assets/slide2-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="slide2" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Rent</span></a><div class="property-info"><h4><a href="index-property=228-park-ave-s.html">228 Park Ave S</a><span class="pid"> (rs-1711)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">Colorado</span></a><br><div class="price"><strong>&#36;</strong><span>11000</span></div></div><div class="property-amenities clearfix"><span class="area">5000<strong></strong>Area</span><span class="baths"><strong>1</strong>Baths</span><span class="beds"><strong>4</strong>Beds</span><span class="parking"><strong>1</strong>Parking</span></div></div></li> <li class="col-md-4 col-sm-6 type-rent"><div class="property-block"><a href="index-property=55-east-52nd-street.html" class="property-featured-image"><img src="assets/property4-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="property4" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Sale</span></a><div class="property-info"><h4><a href="index-property=55-east-52nd-street.html">55 East 52nd Street</a><span class="pid"> (rs-1715)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">Pennsylvania</span></a><br><div class="price"><strong>&#36;</strong><span>15000</span></div></div><div class="property-amenities clearfix"><span class="area">5000<strong></strong>Area</span><span class="baths"><strong>2</strong>Baths</span><span class="beds"><strong>4</strong>Beds</span><span class="parking"><strong>2</strong>Parking</span></div></div></li> <li class="col-md-4 col-sm-6 type-rent"><div class="property-block"><a href="index-property=4-new-york-plaza.html" class="property-featured-image"><img src="assets/property5-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="property5" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Rent</span></a><div class="property-info"><h4><a href="index-property=4-new-york-plaza.html">459 West Broadway</a><span class="pid"> (rs-1719)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">New-York</span></a><br><div class="price"><strong>&#36;</strong><span>20000</span></div></div><div class="property-amenities clearfix"><span class="area">5000<strong></strong>Area</span><span class="baths"><strong>4</strong>Baths</span><span class="beds"><strong>5</strong>Beds</span><span class="parking"><strong>3</strong>Parking</span></div></div></li> <li class="col-md-4 col-sm-6 type-rent"><div class="property-block"><a href="index-property=125-worth-street.html" class="property-featured-image"><img src="assets/property7-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="property7" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Sale</span></a><div class="property-info"><h4><a href="index-property=125-worth-street.html">125 Worth Street</a><span class="pid"> (rs-1723)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">Connecticut</span></a><br><div class="price"><strong>&#36;</strong><span>25000</span></div></div><div class="property-amenities clearfix"><span class="area">5000<strong></strong>Area</span><span class="baths"><strong>3</strong>Baths</span><span class="beds"><strong>4</strong>Beds</span><span class="parking"><strong>3</strong>Parking</span></div></div></li> <li class="col-md-4 col-sm-6 type-rent"><div class="property-block"><a href="index-property=350-fifth-avenue.html" class="property-featured-image"><img src="assets/slide31-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="slide3" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Rent</span></a><div class="property-info"><h4><a href="index-property=350-fifth-avenue.html">350 Fifth Avenue</a><span class="pid"> (rs-1727)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">Texas</span></a><br><div class="price"><strong>&#36;</strong><span>28000</span></div></div><div class="property-amenities clearfix"><span class="area">5000<strong></strong>Area</span><span class="baths"><strong>5</strong>Baths</span><span class="beds"><strong>5</strong>Beds</span><span class="parking"><strong>3</strong>Parking</span></div></div></li></ul></div></div> </div><div id="featured-properties">
                          <div class="container"><div class="row"> <div class="col-md-12"><div class="block-heading"><h4><span class="heading-icon"><i class="fa fa-leaf"></i></span>Featured Properties</h4> </div></div></div><div class="row">                            <ul class="owl-carousel owl-alt-controls" data-columns="4" data-autoplay="no" data-pagination="no" data-arrows="yes" data-single-item="no" ><li class="item property-block"><a href="index-property=116-waverly-place.html" class="property-featured-image"><img src="assets/slide1-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="slide1" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Sale</span></a><div class="property-info"><h4><a href="index-property=116-waverly-place.html">116 Waverly Place</a><span class="pid"> (rs-1707)</span></h4></h4><a class="accent-color" data-original-title="Waverly" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">California</span></a><br><div class="price"><strong>&#36;</strong><span>10000</span></div></div></li><li class="item property-block"><a href="index-property=228-park-ave-s.html" class="property-featured-image"><img src="assets/slide2-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="slide2" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Rent</span></a><div class="property-info"><h4><a href="index-property=228-park-ave-s.html">228 Park Ave S</a><span class="pid"> (rs-1711)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">Colorado</span></a><br><div class="price"><strong>&#36;</strong><span>11000</span></div></div></li><li class="item property-block"><a href="index-property=55-east-52nd-street.html" class="property-featured-image"><img src="assets/property4-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="property4" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Sale</span></a><div class="property-info"><h4><a href="index-property=55-east-52nd-street.html">55 East 52nd Street</a><span class="pid"> (rs-1715)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">Pennsylvania</span></a><br><div class="price"><strong>&#36;</strong><span>15000</span></div></div></li><li class="item property-block"><a href="index-property=4-new-york-plaza.html" class="property-featured-image"><img src="assets/property5-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="property5" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Rent</span></a><div class="property-info"><h4><a href="index-property=4-new-york-plaza.html">459 West Broadway</a><span class="pid"> (rs-1719)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">New-York</span></a><br><div class="price"><strong>&#36;</strong><span>20000</span></div></div></li><li class="item property-block"><a href="index-property=125-worth-street.html" class="property-featured-image"><img src="assets/property7-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="property7" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Sale</span></a><div class="property-info"><h4><a href="index-property=125-worth-street.html">125 Worth Street</a><span class="pid"> (rs-1723)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">Connecticut</span></a><br><div class="price"><strong>&#36;</strong><span>25000</span></div></div></li><li class="item property-block"><a href="index-property=350-fifth-avenue.html" class="property-featured-image"><img src="assets/slide31-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="slide3" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Rent</span></a><div class="property-info"><h4><a href="index-property=350-fifth-avenue.html">350 Fifth Avenue</a><span class="pid"> (rs-1727)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">Texas</span></a><br><div class="price"><strong>&#36;</strong><span>28000</span></div></div></li><li class="item property-block"><a href="index-property=85-west-street.html" class="property-featured-image"><img src="assets/slide12-600x400.jpg" class="attachment-600-400-size wp-post-image" alt="slide1" /><span class="images-count"><i class="fa fa-picture-o"></i> 3</span><span class="badges">Rent</span></a><div class="property-info"><h4><a href="index-property=85-west-street.html">85 West Street</a><span class="pid"> (rs-1731)</span></h4></h4><a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor:default; text-decoration:none;" href="javascript:void(0);"><span class="location">Wyoming</span></a><br><div class="price"><strong>&#36;</strong><span>31000</span></div></div></li></ul></div></div></div><div class="padding-tb45 bottom-blocks">
                            <div class="container">
                            <div class="row"><div class="col-md-4 features-list column" >
<h3 class="">Theme features</h3><ul><li class="cust-icon-box">
			<div class="icon">
			<i class="fa fa-umbrella"></i>
			</div>
			<div class="text">
			<h4>Lots of possibilities</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			</li><li class="cust-icon-box">
			<div class="icon">
			<i class="fa fa-th-list"></i>
			</div>
			<div class="text">
			<h4>Property list view</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			</li><li class="cust-icon-box">
			<div class="icon">
			<i class="fa fa-search"></i>
			</div>
			<div class="text">
			<h4>Advance Search Options</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			</li><li class="cust-icon-box">
			<div class="icon">
			<i class="fa fa-group"></i>
			</div>
			<div class="text">
			<h4>Agents Profile</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			</li></ul></div><div class="col-md-4 widget_popular_agent column" ><h3 class="">Popular Agent</h3>
<a href="author/mia-kennedy/index.html"><img src="wp-content/uploads/2015/01/agent41.jpg" alt="" class="img-thumbnail"></a><div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                          <h4><a href="author/mia-kennedy/index.html">Mia Kennedy</a></h4>
                              <a href="author/mia-kennedy/index.html" class="btn btn-sm btn-primary">more details</a>
                       </div>
                       <div class="col-md-6 col-sm-6 col-xs-6">
                              <ul class="contact-info">
                                  <li><i class="fa fa-phone"></i> 9999 8765 0231</li>
                               <li><i class="fa fa-envelope"></i> Mia@mail.com</li>
                           </ul>
                       </div>
                    </div>
</div><div class="col-md-4 column" ><h3 class="">Client Testimonials</h3>
<ul class="testimonials " data-pagination="yes"><li>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing.</p><img src="assets/client1.jpg" class="testimonial-sender wp-post-image" alt="client1" />
                              <cite>Mellisa - <strong>My company </strong><br><a href="http://www.imithemes.com">www.imithemes.com</a>
                           </cite>
                        </li></ul>
</div>
</div></div></div><div class="container"><div class="block-heading"><h4><span class="heading-icon"><i class="fa fa-users"></i></span>Our Partners</h4><a href="http://www.imithemes.com" class="btn btn-primary btn-sm pull-right">All partners <i class="fa fa-long-arrow-right"></i></a></div><div class="row">                            <ul class="owl-carousel owl-alt-controls" data-columns="4" data-autoplay="no" data-pagination="no" data-arrows="no" data-single-item="no" ><li class="item"> <a href="http://www.imithemes.com" target="_self"><img src="assets/partner-1-140x47.png" alt=""></a> </li><li class="item"> <a href="http://www.imithemes.com" target="_self"><img src="assets/partner-4-140x47.png" alt=""></a> </li><li class="item"> <a href="http://www.imithemes.com" target="_self"><img src="assets/partner-3-140x47.png" alt=""></a> </li><li class="item"> <a href="http://www.imithemes.com" target="_self"><img src="assets/partner-5-140x47.png" alt=""></a> </li><li class="item"> <a href="http://www.imithemes.com" target="_self"><img src="assets/partner-4-140x47.png" alt=""></a> </li><li class="item"> <a href="http://www.imithemes.com" target="_self"><img src="assets/partner-3-140x47.png" alt=""></a> </li><li class="item"> <a href="http://www.imithemes.com" target="_self"><img src="assets/partner-2-140x47.png" alt=""></a> </li><li class="item"> <a href="http://www.imithemes.com" target="_self"><img src="assets/partner-1-140x47.png" alt=""></a> </li></ul></div></div></div></div>  
<!-- Start Site Footer -->
<footer class="site-footer" >
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-3 widget footer-widget widget_latest_news"><h3 class="widgettitle">Latest News</h3><ul><li>
                          <a href="blog-post-with-featured-image-3/index.html">Blog post with featured image</a>
                          <span class="meta-data">June 26, 2014</span>
                      </li><li>
                          <a href="www-alinkpost-com/index.html">www.alinkpost.com</a>
                          <span class="meta-data">June 26, 2014</span>
                      </li><li>
                          <a href="another-gallery-post/index.html">Another Gallery Post</a>
                          <span class="meta-data">June 26, 2014</span>
                      </li></ul></div><div class="col-md-3 col-sm-3 widget footer-widget widget_nav_menu"><h3 class="widgettitle">Useful Links</h3><div class="menu-useful-links-container"><ul id="menu-useful-links" class="menu"><li id="menu-item-260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-260"><a href="list-a-property/index.html">Add your listing</a></li>
<li id="menu-item-228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a href="register-as-agent/index.html">Become an agent</a></li>
<li id="menu-item-261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-261"><a href="pricing/index.html">Pricing</a></li>
<li id="menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229"><a href="about-us/index.html">About Us</a></li>
<li id="menu-item-262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-262"><a href="shortcodes/index.html">Theme features</a></li>
</ul></div></div><div class="col-md-3 col-sm-3 widget footer-widget widget_twitter_feeds"><h3 class="widgettitle">Twitter Updates</h3><ul><li><i class="fa fa-twitter"></i> You Can Now Download Styled PDF licences <a href="http://t.co/ZZzsHKw9bA" >http://t.co/ZZzsHKw9bA</a></li><li><i class="fa fa-twitter"></i> We reached a new milestone of 5000 sales at Envato Marketplace</li><li><i class="fa fa-twitter"></i> <a href="http://www.twitter.com/onepageawards" >@onepageawards</a> see our one page event template <a href="http://t.co/yZT25u9e8J" >http://t.co/yZT25u9e8J</a>  <a href="https://twitter.com/search?q=website" >#website</a> <a href="https://twitter.com/search?q=onepage" >#onepage</a></li></ul></div><div class="col-md-3 col-sm-3 widget footer-widget widget_newsletter"><h3 class="widgettitle">Our Newsletter</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p><form method ="post" action ="#">
                    <input type="email" name="newsletter_email" id="email" placeholder="Enter your email" class="form-control">
                  <input type="submit" name="newsletter_submit" class="btn btn-primary btn-block btn-lg" value="Subscribe">
               </form></div></div>
</div>
</footer>
<footer class="site-footer-bottom" >
<div class="container">
<div class="row">
<div class="copyrights-col-left col-md-6 col-sm-6">
<p>&copy; 2015 Real Spaces &#8211; Wordpress Real Estate Theme. All Rights Reserved</p>
 </div>
  <div class="copyrights-col-right col-md-6 col-sm-6">
<div class="social-icons">
<a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a><a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a><a href="http://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a><a href="http://wp.imicreationlive.com/real-spaces/feed/" target="_blank"><i class="fa fa-rss"></i></a></div>
</div>
</div>
</div>
</footer>
<!-- End Site Footer -->
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>  
</div>
<script type='text/javascript'>
/* <![CDATA[ */
var url_front_ajax = {"ajaxurl":"http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/Paid-Property-Imithemes/js/property.js?ver=4.0.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var tmpurl = {"plugin_path":"http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-content\/plugins\/favorite_property\/"};
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/favorite_property/js/favorite.js?ver=3.0.0'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/imic-framework/widgets/Newsletter/newslatter.js?ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/plugins/prettyphoto/js/prettyphoto.js?ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/plugins/owl-carousel/js/owl.carousel.min.js?ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/plugins/flexslider/js/jquery.flexslider.js?ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/js/helper-plugins.js?ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/js/bootstrap.js?ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/js/waypoints.js?ver=4.0.1'></script>
<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false&ver=4.0.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var urlajax = {"url":"http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-admin\/admin-ajax.php","tmpurl":"http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-content\/themes\/real-spaces","is_property":"","sticky":"1","is_contact":"","home_url":"http:\/\/preview.imithemes.com\/real-spaces-wp","is_payment":"","register_url":"http:\/\/preview.imithemes.com\/real-spaces-wp\/register-as-agent\/","is_register":"","is_login":"","is_submit_property":""};
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/themes/real-spaces/js/init.js?ver=4.0.1'></script>
<script type='text/javascript' src='wp-content/themes/real-spaces/js/profile_validate.js?ver=4.0.1'></script>
<script type='text/javascript' src='wp-includes/js/comment-reply.min.js?ver=4.0.1'></script>
<script src="wp-content/themes/real-spaces/style-switcher/js/jquery_cookie.js"></script> 
<script src="wp-content/themes/real-spaces/style-switcher/js/script.js"></script>
<!-- Style Switcher Start -->
<div class="styleswitcher visible-lg visible-md">
  <div class="arrow-box"><a class="switch-button"><span class="fa fa-cogs fa-lg"></span></a> </div>
  <h4>Color Skins</h4>
  <ul class="color-scheme">
    <li><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color1.css" class="color1" title="color1"></a></li>
    <li><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color2.css" class="color2" title="color2"></a></li>
    <li><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color3.css" class="color3" title="color3"></a></li>
    <li><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color4.css" class="color4" title="color4"></a></li>
    <li><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color5.css" class="color5" title="color5"></a></li>
    <li class="nomargin"><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color6.css" class="color6" title="color6"></a></li>
    <li class="nomargin"><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color7.css" class="color7" title="color7"></a></li>
    <li class="nomargin"><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color8.css" class="color8" title="color8"></a></li>
    <li class="nomargin"><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color9.css" class="color9" title="color9"></a></li>
    <li class="nomargin"><a href="#" data-rel="http://preview.imithemes.com/real-spaces-wp/wp-content/themes/real-spaces/colors/color10.css" class="color10" title="color10"></a></li>
  </ul>
  <h4>Layout</h4>
  <ul class="layouts">
    <li class="wide-layout"><a href="#" title="Wide">Wide</a></li>
    <li class="boxed-layout"><a href="#" title="Boxed">Boxed</a></li>
  </ul>
  <h4>Background Pattern</h4>
  <ul class="background-selector">
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt1.png" data-nr="0" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt2.png" data-nr="1" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt3.png" data-nr="2" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt4.png" data-nr="3" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt5.png" data-nr="4" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt6.png" data-nr="5" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt7.png" data-nr="6" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt8.png" data-nr="7" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt9.png" data-nr="8" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt10.png" data-nr="9" width="20" height="20"></li>
    <li class="nomargin"><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt11.jpg" data-nr="10" width="20" height="20"></li>
    <li class="nomargin"><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt12.jpg" data-nr="11" width="20" height="20"></li>
    <li class="nomargin"><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt13.jpg" data-nr="12" width="20" height="20"></li>
    <li class="nomargin"><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt14.jpg" data-nr="13" width="20" height="20"></li>
    <li class="nomargin"><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/patterns/pt15.jpg" data-nr="14" width="20" height="20"></li>
  </ul>
  <small>*only for boxed layout</small>
  <h4>Background Image</h4>
  <ul class="background-selector1">
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/images/img1-thumb.jpg" data-nr="0" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/images/img2-thumb.jpg" data-nr="1" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/images/img3-thumb.jpg" data-nr="2" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/images/img4-thumb.jpg" data-nr="3" width="20" height="20"></li>
    <li><img alt="" src="wp-content/themes/real-spaces/style-switcher/backgrounds/images/img5-thumb.jpg" data-nr="4" width="20" height="20"></li>
  </ul>
  <small>*only for boxed layout</small> </div>
</body>
</html>
<!-- Dynamic page generated in 1.057 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2015-01-26 04:48:31 -->

<!-- super cache -->
<!-- Localized -->